.theme {
  color: white;
  border-radius: 30px;
  padding: 1rem;
  transition: all 0.25s linear;
  position: absolute;
  top: 10rem;
  right: 9rem;
  scrollbar-width: none;
  background-color: rgba(0, 0, 0, 0.6);
}
.hidden {
  visibility: hidden;
}
.theme_container {
  display: flex;
  flex-direction: column;
  height: 30rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.theme_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.theme_img {
  width: 20rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
span {
  color: red;
}
